<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Store Payment</title>
    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <h1>Ventas</h1>
            <h2>
                Cuando se realiza un pago, el webhook actualiza la compra y el
                pago se ve reflejado aca.
            </h2>

            <% for (const sale of sales) { %>
            <hr />
            <article>
                <p><strong>Descripcion:</strong> <%= sale.description %></p>
                <p><strong>Total:</strong> <%= sale.total %></p>
                <p><strong>Estado del pago:</strong> <%= sale.state %></p>
            </article>
            <% } %>
            <hr />
        </main>
    </body>
</html>
